DEPARTMENT_ENGAGEMENT.csv
DEPARTMENT_ENGAGEMENT_DECREASING.csv
DEPARTMENT_ENGAGEMENT_INCREASING.csv
project2_question1.csv
project2_question1.jmp
project2_question2.csv
variableSelect1.jrp
weekly_sum_sales_by_hh.csv
weekly_sum_sales_by_hh_department.csv
