2LTR 4manufacturers.jmp
Bonus_data.csv
national vs. private.jmp
soft drinks midterm .csv
transaction_data_1053690.csv
transaction_data_1053690_daily.csv
transaction_data_1053690_weekly.csv
transaction_data_1053690_weekly2.csv
transaction_data_1053690_weekly3.csv
transaction_data_1053690_weekly4.csv
